.customers-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #333;
}

.menu-container {
  position: relative;
}
button.menu-button{
  color: black;
}
.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu-dropdown button {
  display: block;
  color: #888;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-dropdown button:hover {
  background-color: #f1f1f1;
}

.customers-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.customers-table th,
.customers-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.customers-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.customers-table tr:hover {
  background-color: #f9f9f9;
}

.selected {
  background-color: #e0f7fa !important;
}

.no-data {
  text-align: center;
  color: #888;
}