.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  background-color: #8b798b21;

  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #2c3e50;
}

.form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.left-section,
.right-section {
  flex: 1;
  min-width: 300px;
}

.subtitle {
  font-size: 20px;
  /* font-weight: 600; */
  margin-bottom: 15px;
  /* color: #34495e; */
}

input,
textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  height: 80px;
  resize: none;
}

.radio-group {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.radio-group label {
  display: flex;
  font-weight:650;
  /* align-items: center; */
  gap: 5px;
}

.button-group {
  display: flex;
  justify-content: flex-start; /* Align buttons to left */
  gap: 15px;
  margin-top: 20px;
}

button {
  padding: 10px 25px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

button[type="submit"] {
  background-color: #20d44a;
  color: white;
}

.cancel-button {
  background-color: #cf1124;
  color: white;
}

input,
 .right-section textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}